<section class="Research-interest-container">
    <app-section-header title="Research Interest"></app-section-header>
    <div class="mat-body Research interest-info">
    Econometrics, Machine-Learning
    </div>
</section>
<br><br>
<!-- <section class="research-statement-container">
        <app-section-header title="Research Statement"></app-section-header>
        <div class="mat-body research-statement">
        Please find my research statement 
        <a href="" style="color: rgb(218, 194, 165)">here.</a>
        </div>
</section> -->
<!-- <br><br> -->
<section class="JMP">
    <app-section-header title="Job Market Paper"></app-section-header>
    <div class="mat-body JMP-info">
        <b>Connected Trade Flows via Trade Cost: Spatial Autoregressive Framework </b> &nbsp;<a href="https://github.com/jieunsophia/Jieun_Working_Papers/blob/main/HJeong%26JLee_SODF_circ.pdf" style="color: rgb(218, 194, 165)">Manuscript</a><br>
        This paper proposes a microfoundation-based econometric specification and estimation for a gravity equation of
        connected trade flows, grounded in the network-leveraging behavior of countries. By modeling trade costs as a function
        of network structure, we endogenize trade costs, where the conventional iceberg cost emerges as a special case
        when countries do not leverage their network connections. This network-leveraging behavior induces interdependence
        among trade flows and amplifies pair-specific heterogeneity, which we capture using a spatial autoregressive
        specification. For estimation, we extend the Poisson Pseudo–Maximum Likelihood Estimator with fixed effects to
        account for network dependence; for inference, we employ robust methods that accommodate heteroskedasticity
        and arbitrary correlation in the error structure. Moreover, we propose how eigenvalue analysis identifies the structural
        characteristics of connectivity among cross-sectional units. Building on these insights, we develop a novel
        algorithm that enables faster computation, addressing the long-standing challenge of high computational costs in
        spatial econometrics. Monte Carlo simulations demonstrate the consistency and reasonable nominal coverage of our
        method. <br><br>
        In the empirical application, we uncover significant and evolving network effects across four key phases of global
        trade: Phase 1 (1986, trade liberalization), Phase 2 (1997, active NAFTA implementation), Phase 3 (2007, emergence
        of the China trade shock), and Phase 4 (2016, expansion of global supply chains). The results show that trade
        networks became increasingly interconnected, with competition dominating in early liberalization, complementarity
        rising under NAFTA, renewed substitution emerging during the China trade shock, and balanced interdependence
        under mature global value chains. A counterfactual analysis quantifies these dynamics, revealing that network effects
        amplified trade flows and welfare gains most strongly during NAFTA, moderated during the China trade shock,
        and stabilized with persistent heterogeneity under global supply chains. These findings highlight the central role of
        trade networks in shaping the magnitude and distribution of globalization’s benefits.<br><br>
        <b>Keywords:</b>Origin-destination flows, international trade, gravity equation, network leveraging behavior, endogenous
        trade costs, pair-specific heterogeneity, spatial autoregressive model, Poisson pseudo-maximum likelihood estimation,
        spatial heteroskedasticity- and autocorrelation-consistent standard errors, eigenvalues. <br><br>
        <b>JEL codes:</b> C13, C31, F1.
    </div>
</section>
<br><br><br>
<!-- <section class="Working-papers-container">
    <app-section-header title="Working Papers & Work in Progress"></app-section-header>
    <div class="mat-body working-papers-info">
        <u>Econometrics, Machine-Learning</u><br>
        3. Rao’s Score (RS) Tests and Its Bera-Yoon (BY) Adjustments Within the Empirical Likelihood (EL) Framework (with A.Bera) <br>
        2. Standard Error Adjustment Robust to Heteroscedasticity and Spatial Correlations in Errors (with H.Jeong) <br>
        1. Specification and Estimation of Spatial Interaction Models for Nonnegative Origin-destination Flows (with H.Jeong) 
        <br><br>
        <u>Empirical Studies</u><br>
        5. Heterogeneous Treatment Effects of Intensive Blood Pressure Control on Major Adverse Cardiovascular Events and Cardiovascular-Kidney-Metabolic Syndrome in
        People with Hypertension (with Q.Xue, P.Li, E.Staton, Y.Ko, Y.Hong, J.Guo, M.Ali, and H.Shao) <br>
        4. Reweighting All of Us Research Program Data to Correct
        for Sampling Bias: A Novel Machine Learning-based Approach (with E.Staton, Z.Li, P.Li, C.Yang, J.Varghese,
        Y.Hong, I.Graetz, & H.Shao) <br>
        3. Identifying Novel Social Determinants of Health (SDOH) Subgroups among the General US Population: A Machine Learning Approach 
        (with Q.Xue, P.Li, E.Staton, M.Weber, Y.Xi, G.Garcia, M.Ali, & H.Shao) <br>
        2. Understanding Urban Street Homeless Dynamics and the Determinants: A Spillover Analysis in Los Angeles (with M.Yun)<br>
        1. Social Capital and Employment Prospects of the Korean Elderly: Silver Lining in an Aging Society? (with V.Hlasny) <br>
    </div>
</section><br><br> -->

<section class="publication-container">
    <app-section-header title="Research"></app-section-header>
    <!-- <p style="text-align:right;"><em>*Published in Social Sciences Citation Index (SSCI) journals; † Science Citation Index Expanded (SCIE) journals</em></p>-->
    <div class="mat-body publication-info"><u>Econometrics, Machine-Learning</u></div>
    <div class="mat-body publication-info">8. Testing Endogeneity of a Spatial Weight Matrix in the Weak-Tied Spatial Dynamic Panel Data Model. (2025). <em>Econometric Reviews, 44</em>(4), 462–511. https://doi.org/10.1080/07474938.2024.2427600
        <a href="https://www.tandfonline.com/doi/full/10.1080/07474938.2024.2427600" style="color: rgb(218, 194, 165)">Publication</a>&nbsp;
        <a href="https://drive.google.com/file/d/12lIQN-wbBDlvVYDXrt79Gz0_uNrQOfq1/view?usp=drive_link" 
        style="color: rgb(218, 194, 165)">Manuscript</a></div>
    <div class="mat-body publication-info">7. Specification and Estimation for Correlated Trade Flows (with Hanbat Jeong)</div>   
    <div class="mat-body publication-info">6. Power Divergence Estimation (with Anil K. Bera)</div>   
    <div class="mat-body publication-info">5. Economics and Machine Learning (with Esfandiar Maasoumi)</div>   
    <div class="mat-body publication-info">4. Specification and Estimation for Congested Networks (with Florian Gunsilius)</div>   
    <div class="mat-body publication-info">3. Robust Inference Based on a Local Parametric Misspecification Quantity (with Florian Gunsilius)</div>   
    <div class="mat-body publication-info">2. Robust Inference under Weak Identification (with Xiye Yang)</div>   
    <div class="mat-body publication-info">1. Robust Standard Error Adjustment (with Hanbat Jeong)</div>   
        <br><br>
    <div class="mat-body publication-info"><u>Empirical Studies</u></div>
    <!-- <div class="mat-body publication-info">3. <b>Lee, Jieun.</b>, & Hlasny, V. (2023). 
        Workers’ Social Capital and Employment Outcomes: The Case of MENA Countries. 
        <em>Research Handbook on Poverty and Inequality.</em> 
        Edward Elgar Publishing. 
        <a href="https://www.elgaronline.com/edcollchap/book/9781800882300/book-part-9781800882300-22.xml" 
        style="color: rgb(218, 194, 165)">Publication</a>&nbsp;
        <a href="https://drive.google.com/file/d/1ePAL_ollgVDTxHn96Jqq4GVxWnfyjaEa/view?usp=drive_link" 
        style="color: rgb(218, 194, 165)">Manuscript</a>
    </div> -->
    <!-- <div class="mat-body publication-info"><em>*</em> 2. <b>Lee, Jieun.</b>, & Hlasny, V. (2022). 
        Social Capital and Workers’ Job Prospects in the MENA Region. <em>
            Sociologický časopis/Czech Sociological Review</em>.  
            <a href="https://sreview.soc.cas.cz/en/artkey/csr-202206-0002_social-capital-and-workers-job-prospects-in-the-mena-region.php" 
            style="color: rgb(218, 194, 165)">Publication</a>&nbsp;
            <a href="https://drive.google.com/file/d/1AMHFryjFcQK_pRyzT1ppy0iLX-C13tGj/view?usp=drive_link" 
            style="color: rgb(218, 194, 165)">Manuscript</a>
        </div> -->
    <div class="mat-body publication-info">3. Investment in social capital by the Korean elderly and baby-boomers (with V.Hlasny). (2020). <em>
            The Journal of the Economics of Ageing</em>, 17, 100256. 
            <a href="https://www.sciencedirect.com/science/article/abs/pii/S2212828X20300219" style="color: rgb(218, 194, 165)"> Publication</a>&nbsp;
            <a href="https://drive.google.com/file/d/1nhxBQ_DVeyQybotmciPxQ69NdN_YHHMN/view?usp=drive_link" style="color: rgb(218, 194, 165)"> Manuscript </a>
        </div>
    <div class="mat-body publication-info">2. Health Capital and Knowledge Spillover in Economic Growth (with Stephen L. Parente)</div>
    <div class="mat-body publication-info">1. Identifying Novel Social Determinants of Health Subgroups among the General US Population: A Machine Learning
Approach (with Xue, Q., Li, P., Mitchell, E., Weber, M.B., Yue, D., Hong, Y., Dieci, M., Harding, J.L., Ali, M.K., Shao, H.)</div>
</section>