<br>
<section class="Research-interest-container">
    <app-section-header title="Research Interest"></app-section-header>
    <div class="mat-body Research interest-info">
    Econometrics, Machine-Learning
    </div>
</section>
<br><br>
<section class="publication-container">
    <app-section-header title="Research"></app-section-header>
    <!-- <p style="text-align:right;"><em>*Published in Social Sciences Citation Index (SSCI) journals; † Science Citation Index Expanded (SCIE) journals</em></p>-->
    <div class="mat-body publication-info"><em>Econometrics, Machine-Learning</em></div>
    <div class="mat-body publication-info"><u>Publication</u></div>
    <div class="mat-body publication-info">1. Testing Endogeneity of a Spatial Weight Matrix in the Weak-Tied Spatial Dynamic Panel Data Model (sole-authored). 
        <em> Econometric Reviews, </em> (2025), 44(4), 462–511. https://doi.org/10.1080/07474938.2024.2427600
        <a href="https://www.tandfonline.com/doi/full/10.1080/07474938.2024.2427600" style="color: rgb(240, 185, 212)">Publication</a>&nbsp;
        <a href="https://github.com/jieunsophia/Jieun_Econometrics-and-Machine-Learning/blob/main/Testing-EndoW-in-SDPD/JL_Testing-EndoW-in-SDPD_Manuscript.pdf" 
        style="color: rgb(240, 185, 212)">Manuscript</a>&nbsp;
        <a href="https://github.com/jieunsophia/EndoWTestinSDPD" 
        style="color: rgb(240, 185, 212)">Package</a></div>
    <br>
    <div class="mat-body publication-info"><u>Working Papers</u></div>
        <div class="mat-body publication-info">4. Informativeness under Model Uncertainty: Shadow Prices and Ridge Penalties (with Esfandiar Maasoumi). <em>Under review at Econometrica.</em>
        &nbsp;<a href="https://arxiv.org/abs/2604.15571" 
        style="color: rgb(240, 185, 212)">Manuscript [arXiv]</a>
    </div>    
    <div class="mat-body publication-info">3. Risk-Optimal Curvature in Cressie–Read Moment Estimation (with Anil Bera). <em>Under review at Journal of Econometrics.</em> 
        &nbsp;&nbsp;<a href="https://arxiv.org/abs/2603.22599" style="color: rgb(240, 185, 212)">Manuscript [arXiv]</a></div> 
    <!-- <div class="mat-body publication-info">3. Double/Debiased Machine Learning for Functional-Form-Robust Spatial Autoregression (sole-authored). <em>Revise and resubmit at Journal of Econometrics.</em></div> -->
    <div class="mat-body publication-info">2. Network Multipliers in Gravity Models (with Hanbat Jeong). <em>Soon to submit.</em> </div>
        <!-- <a href="https://github.com/jieunsophia/Jieun_Econometrics-and-Machine-Learning/blob/main/Connected-trade-flows/HJ%26JL_Connected-trade-flows_Manuscript.pdf" style="color: rgb(218, 194, 165)">Manuscript</a><br></div>    -->
    <div class="mat-body publication-info">1. Robust Estimation under Model Uncertainty (with Esfandiar Maasoumi). </div>
        <br>
    <div class="mat-body publication-info"><u>Work in Progress</u></div>
    <div class="mat-body publication-info">7. Endogenous Network Formation under Congestions (with Florian Gunsilius).</div>
    <div class="mat-body publication-info">6. Estimation of Penalty Intensities (with Sue Mialon).</div>  
    <div class="mat-body publication-info">5. Decomposition of the Deterrent Effects of Punishment (with Sue Mialon).</div>
    <div class="mat-body publication-info">4. Hypothesis Test for Qualification (sole-authored).</div>
    <div class="mat-body publication-info">3. Knowledge Spillover in Growth Miracles (with Stephen L. Parente).</div>
    <div class="mat-body publication-info">2. Knowledge Heterogeneity in Growth Miracles (with Jiheum Yeon).</div>
    <div class="mat-body publication-info">1. Robust Standard Error Adjustment (with Hanbat Jeong).</div>  
    <!-- <div class="mat-body publication-info">Robust Inference under Weak Identification (with Xiye Yang)</div> -->      
    <br><br>
    <div class="mat-body publication-info"><em>Empirical Studies: Economics/Interdisciplinary </em></div>
    <!-- <div class="mat-body publication-info">3. <b>Lee, Jieun.</b>, & Hlasny, V. (2023). 
        Workers’ Social Capital and Employment Outcomes: The Case of MENA Countries. 
        <em>Research Handbook on Poverty and Inequality.</em> 
        Edward Elgar Publishing. 
        <a href="https://www.elgaronline.com/edcollchap/book/9781800882300/book-part-9781800882300-22.xml" 
        style="color: rgb(218, 194, 165)">Publication</a>&nbsp;
        <a href="https://drive.google.com/file/d/1ePAL_ollgVDTxHn96Jqq4GVxWnfyjaEa/view?usp=drive_link" 
        style="color: rgb(218, 194, 165)">Manuscript</a>
    </div> -->
    <!-- <div class="mat-body publication-info"><em>*</em> 2. <b>Lee, Jieun.</b>, & Hlasny, V. (2022). 
        Social Capital and Workers’ Job Prospects in the MENA Region. <em>
            Sociologický časopis/Czech Sociological Review</em>.  
            <a href="https://sreview.soc.cas.cz/en/artkey/csr-202206-0002_social-capital-and-workers-job-prospects-in-the-mena-region.php" 
            style="color: rgb(218, 194, 165)">Publication</a>&nbsp;
            <a href="https://drive.google.com/file/d/1AMHFryjFcQK_pRyzT1ppy0iLX-C13tGj/view?usp=drive_link" 
            style="color: rgb(218, 194, 165)">Manuscript</a>
        </div> -->
        <div class="mat-body publication-info">3. Spatial Externalities in Urban Crime: Evidence from an Anti-Camping Law (with Minjae Yun). <em>Soon to submit.</em></div>
    <div class="mat-body publication-info">2. Identifying Novel Social Determinants of Health Subgroups among the General US Population: A Machine Learning
Approach (with Xue, Q., Li, P., Mitchell, E., Weber, M.B., Yue, D., Hong, Y., Dieci, M., Harding, J.L., Ali, M.K., Shao, H.) <em>Under Review at American Journal of Preventive Medicine.</em></div>
    <div class="mat-body publication-info">1. Investment in social capital by the Korean elderly and baby-boomers (with Vladimir Hlasny). 
        <em> The Journal of the Economics of Ageing</em>, (2020), 17, 100256. 
            <a href="https://www.sciencedirect.com/science/article/abs/pii/S2212828X20300219" style="color: rgb(240, 185, 212)"> Publication</a>&nbsp;
            <a href="https://drive.google.com/file/d/1nhxBQ_DVeyQybotmciPxQ69NdN_YHHMN/view?usp=drive_link" style="color: rgb(240, 185, 212)"> Manuscript </a>
        </div>
    <!-- <div class="mat-body publication-info">1. Heterogeneous Treatment Effects of Intensive Blood Pressure Control on Major Adverse Cardiovascular Events in People
with Hypertension (with Xue, Q., Li, P., Mitchell, E., Ko, Y., Hong, Y., Guo, J., Ali, M., & Shao, H.)</div> -->
</section>