<section class="Research-interest-container">
    <app-section-header title="Research Interest"></app-section-header>
    <div class="mat-body Research interest-info">
    - <u>Econometrics:</u> Spatial Econometrics, Machine Learning, Causal AI <br>
    - <u>Health Economics:</u> Social Determinants of Health, Chronic Diseases
    </div>
</section>
<br><br>
<section class="research-statement-container">
        <app-section-header title="Research Statement"></app-section-header>
        <div class="mat-body research-statement">
        Please find my research statement 
        <a href="https://drive.google.com/file/d/1p19e2tns2l7TUi-6IAjcuRh8ouCagAaq/view?usp=drive_link" style="color: rgb(218, 194, 165)">here.</a>
        </div>
</section>
<br><br>
<section class="JMP">
    <app-section-header title="Job Market Paper"></app-section-header>
    <div class="mat-body JMP-info">
        <b>Specification and Estimation of Spatial Interaction Models for Nonnegative Origin-destination Flows </b> 
        <a href="https://drive.google.com/file/d/11rcodC8wsp7q4YvuWJDEJvI3TOsCFOPt/view"  style="color: rgb(218, 194, 165)"> Manuscript</a><br>
        The gravity equation has a long-standing empirical tradition in estimating international trade flows. 
        Despite its widespread use, however, the traditional gravity equation for Origin-Destination (OD) flows has significant limitations. 
        First, it only captures bilateral interactions, lacking a broader multilateral context to account for third-party effects and multilateral 
        resistance. Second, the common practice of log-transformed outcomes can lead to invalid inferences.
        Third, the equation is not robust to heteroscedasticity or spatially correlated errors. Addressing these issues, we propose specification 
        and estimation of a novel spatial interaction model for nonnegative OD flows. Specifically, we integrate spatial weighting matrices and 
        individual fixed effects within the Poisson maximum likelihood framework, and further adjust standard errors to ensure robustness against 
        heteroscedasticity and spatial correlation in errors. Monte Carlo simulations show nice finite sample properties of our estimator, 
        including consistency and fair nominal coverage. Finally, an empirical application using trade data finds strong evidence of spillover effects 
        driven by geographic, economic, and political proximities. Interestingly, bilateral geographic distance was no longer a significant factor, 
        which is a big shift from the usual findings with the traditional gravity equation. <br><br>
        <b>Keywords:</b> Origin-destination (OD) flows, gravity equation, third-party effects, multilateral resistance, log-transformation, 
        heteroscedasticity-autocorrelation-consistent standard errors, Poisson pseudo maximum likelihood estimation. <br><br>
    </div>
</section>
<br><br>
<section class="Working-papers-container">
    <app-section-header title="Working Papers & Work in Progress"></app-section-header>
    <div class="mat-body working-papers-info">
        <u>Econometrics</u><br>
        3. Rao’s Score (RS) Tests and Its Bera-Yoon (BY) Adjustments Within the Empirical Likelihood (EL) Framework (with A.Bera) <br>
        2. Standard Error Adjustment Robust to Heteroscedasticity and Spatial Correlations in Errors (with H.Jeong) <br>
        1. Specification and Estimation of Spatial Interaction Models for Nonnegative Origin-destination Flows (with H.Jeong) <a href="https://drive.google.com/file/d/11rcodC8wsp7q4YvuWJDEJvI3TOsCFOPt/view"  style="color: rgb(218, 194, 165)"> Manuscript</a><br><br>
        <u>Health/Applied Economics</u><br>
        3. Understanding Urban Street Homeless Dynamics and the Determinants: A Spillover Analysis in Los Angeles (with M.Yun)<br>
        2. Identifying Novel Social Determinants of Health (SDOH) Subgroups among the General US Population: A Machine Learning Approach
        <a href="https://drive.google.com/file/d/1rdsrEJB-c1gbqTHsZqR3ycojueX9yZq7/view"  
        style="color: rgb(218, 194, 165)">Poster</a> &nbsp;
        <a href="https://drive.google.com/file/d/1vw1nbosVA7kKtFjSlKjp-PJyc8iB92rH/view?usp=drive_link"
        style="color: rgb(218, 194, 165)">Manuscript</a><br>
        1. Heterogeneous Treatment Effects of Intensive Blood Pressure Control on Major Adverse Cardiovascular Events in Nondiabetic Patients
        <a href="https://drive.google.com/file/d/13LXcZwg2-giQYeUKNLJ6S4EuOiSV1oBq/view"  style="color: rgb(218, 194, 165)"> Manuscript</a> <br>
    </div>
</section>
<br>
<br>
<section class="publication-container">
    <app-section-header title="Publications"></app-section-header>
    <p style="text-align:right;"><em>*Published in Social Sciences Citation Index (SSCI) journals; † Science Citation Index Expanded (SCIE) journals</em></p>
    <div class="mat-body publication-info"><u>Econometrics</u></div>
    <div class="mat-body publication-info"><em>*†</em> 1. <b>Lee, Jieun.</b> (2024). 
        Testing Endogeneity of a Spatial Weight Matrix in the Weak-Tied Spatial Dynamic Panel Data Model. <em>Econometric Reviews.</em>&nbsp;
        <a href="https://www.tandfonline.com/doi/full/10.1080/07474938.2024.2427600" style="color: rgb(218, 194, 165)">Publication</a>&nbsp;
        <a href="https://drive.google.com/file/d/12lIQN-wbBDlvVYDXrt79Gz0_uNrQOfq1/view?usp=drive_link" 
        style="color: rgb(218, 194, 165)">Manuscript</a></div><br>
    <div class="mat-body publication-info"><u>Health/Applied Economics</u></div>
    <div class="mat-body publication-info">3. <b>Lee, Jieun.</b>, Hlasny, Vladimir. (2023). 
        Workers’ Social Capital and Employment Outcomes: The Case of MENA Countries. 
        <em>Research Handbook on Poverty and Inequality.</em> 
        Edward Elgar Publishing. 
        <a href="https://www.elgaronline.com/edcollchap/book/9781800882300/book-part-9781800882300-22.xml" 
        style="color: rgb(218, 194, 165)">Publication</a>&nbsp;
        <a href="https://drive.google.com/file/d/1ePAL_ollgVDTxHn96Jqq4GVxWnfyjaEa/view?usp=drive_link" 
        style="color: rgb(218, 194, 165)">Manuscript</a>
    </div>
    <div class="mat-body publication-info"><em>*</em> 2. <b>Lee, Jieun.</b>, Hlasny, Vladimir. (2022). 
        Social Capital and Workers’ Job Prospects in the MENA Region. <em>
            Sociologický časopis/Czech Sociological Review</em>.  
            <a href="https://sreview.soc.cas.cz/en/artkey/csr-202206-0002_social-capital-and-workers-job-prospects-in-the-mena-region.php" 
            style="color: rgb(218, 194, 165)">Publication</a>&nbsp;
            <a href="https://drive.google.com/file/d/1AMHFryjFcQK_pRyzT1ppy0iLX-C13tGj/view?usp=drive_link" 
            style="color: rgb(218, 194, 165)">Manuscript</a>
        </div>
    <div class="mat-body publication-info"><em>*</em> 1. Hlasny, Vladimir., <b>Lee, Jieun.</b> (2020). 
        Investment in social capital by the Korean elderly and baby-boomers. <em>
            The Journal of the Economics of Ageing</em>, 17, 100256. 
            <a href="https://www.sciencedirect.com/science/article/abs/pii/S2212828X20300219" style="color: rgb(218, 194, 165)"> Publication</a>&nbsp;
            <a href="https://drive.google.com/file/d/1nhxBQ_DVeyQybotmciPxQ69NdN_YHHMN/view?usp=drive_link" style="color: rgb(218, 194, 165)"> Manuscript </a>
        </div>
</section>