<section class="Contact-container">
    <div class="mat-body cv-info"> <h1> Files Archived </h1> </div>
    <div class="mat-body cv-info"> <a href="https://drive.google.com/file/d/1Hk9pcBlxfr9lStsUpQWnzBQlUH7xGf3j/view" 
        style="color: rgb(218, 194, 165)">Curriculum Vitae</a></div><br>
    <div class="mat-body cv-info"> <a href="https://drive.google.com/file/d/1q6GDyD8YCOdcNSK56SH_aGP1O8DZs0i5/view?usp=drive_link" 
        style="color: rgb(218, 194, 165)">List of Recommenders</a></div><br>
    <div class="mat-body cv-info"> <a href="https://drive.google.com/file/d/1p19e2tns2l7TUi-6IAjcuRh8ouCagAaq/view" 
        style="color: rgb(218, 194, 165)">Research Statement</a></div><br>
    <div class="mat-body cv-info"> <a href="https://drive.google.com/file/d/1tNWdLRiOLSZ1tTfPQwPc4dWzk2gZs97u/view?usp=drive_link" 
        style="color: rgb(218, 194, 165)">Teaching & Service Statement</a></div><br>
    <div class="mat-body cv-info"> <a href="https://drive.google.com/file/d/1PcMpA1AsZKMU9gdojKYJkFa_zCfs2_Dx/view?usp=drive_link" 
        style="color: rgb(218, 194, 165)">Diversity Statement</a></div><br>   
    <div class="mat-body cv-info"> <a href="https://drive.google.com/file/d/11rcodC8wsp7q4YvuWJDEJvI3TOsCFOPt/view" 
        style="color: rgb(218, 194, 165)">Writing Sample 1: Specification and Estimation of Spatial Interaction Models for
         Nonnegative Origin-destination Flows (Job Market Paper)</a></div><br>
    <div class="mat-body cv-info"> <a href="https://drive.google.com/file/d/1d-T33fDUANhTvJlTgLfkpGyEM_WxXNVz/view" 
        style="color: rgb(218, 194, 165)">Writing Sample 2: Testing Endogeneity of a Spatial Weight Matrix in the Weak-Tied Spatial Dynamic Panel Data Model</a></div><br>
    <div class="mat-body cv-info"> <a href="https://drive.google.com/file/d/13LXcZwg2-giQYeUKNLJ6S4EuOiSV1oBq/view" 
        style="color: rgb(218, 194, 165)">Writing Sample 3: Heterogeneous Treatment Effects of Intensive 
        Blood Pressure Control on Major Adverse Cardiovascular Events in Nondiabetic Patients</a></div><br>
    <div class="mat-body cv-info"> <a href="https://drive.google.com/file/d/1vw1nbosVA7kKtFjSlKjp-PJyc8iB92rH/view?usp=drive_link" 
        style="color: rgb(218, 194, 165)">Writing Sample 4: Identifying Novel Social Determinants of Health (SDOH) 
        Subgroups among the General US Population: A Machine Learning Approach</a></div>
</section>